@use 'variables'
@use 'mixins'

.list_container
    display: flex
    p
        margin-bottom: 30px

.list_img
    min-width: 280px
    margin-right: 30px
    margin-bottom: 30px
    &:hover
        transform: scale(1.08)
        box-shadow: 1px 2px 5px #00000067

.img
    border-radius: variables.$container-border-radius

.btn
    @include mixins.btn
    align-self: start
    
.btn_voltar
    @include mixins.btn
    align-self: start
    
@media (max-width: 1200px)  
    .list_container
        display: flex
        flex-direction: column
        justify-content: center
        p
            margin-bottom: 60px

    .list_img
        margin-bottom: 30px
    
    .list_box
        margin-bottom: 60px

@media (max-width: 480px)  
    .list_img
        min-width: 150px