@use 'variables'
@use 'mixins'

.technology_container
    margin-bottom: 1rem

.technology_grid
    display: flex
    flex-wrap: wrap
    gap: 1.5rem
    
    h3
        color: variables.$text-color-secondary
        font-size: 2em
    i
        font-size: 8em
        margin-bottom: 10px
    
    
            
.technology_card_html, 
.technology_card_css, 
.technology_card_js, 
.technology_card_react, 
.technology_card_sass
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 1rem
    border: 1px solid #333
    width: 200px
    height: 200px
    background-color: variables.$bg-color-secundary
    border-radius: variables.$card-border-radius

.technology_card_html
    color: #e44d26

.technology_card_css
    color: #1572b6

.technology_card_js
    color: #EFD81D

.technology_card_react
    color: #83cd29

.technology_card_sass
    color: #00618a

@media (max-width: 800px)  
    .technology_grid
        display: block
    
    .technology_card_html, 
    .technology_card_css, 
    .technology_card_js, 
    .technology_card_react, 
    .technology_card_sass
        width: 100%
        margin: 0 auto
        margin-bottom: 30px

@media (max-width: 447px)  
    .technology_grid
        i
            font-size: 4rem